<div class="container login">
    <h3 class="page_name">Sign In</h3>
    <form action="/login" method="POST">

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <input type="submit" value="Login" class="btn">

</form>
 <div class="signup">
     <span class="signup">Don't have an account?
         <label for="check"> <a href="/">Signup</a> </label>
     </span>
 </div>

</div>


