<div class="container register">
  <h3 class="page_name">Register</h3>
<form action="/register" method="POST">

  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username" required>

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password" required>

  <label for="password2"><b>Password</b></label>
  <input type="password" placeholder="Renter Password" name="password2" required>

  <input type="submit" value="Register" class="btn">

</form> 
 <div class="signup">
     <span class="signup">Already have an account?
         <label for="check"><a href="/login">Login</a></label>
     </span>
 </div>
</div>
