<div class="userConfirm restore_data">
       <p>You wanna restore data</p>
       <div class="flex py-3">
        <button class="btn" id="restore_data" onclick="loadGeoJSON()">Restore Data</button>
       <button class="btn" id="no_data" >Start Over</button>
      </div>
</div>
<div class="userConfirm store_data">
       <p>You wanna store files in The BD</p>
       <div class="flex py-3">
        <button class="btn" id="store_data" >Store Data</button>
        <button class="btn" id="no_data" onclick="removeShow()">No </button>
      </div>
</div>