<section class="header">
    <span class="menu_tabs" onclick="menuToggle()"><i class="ph ph-list"></i></span>
</section>


<div class=" project_select">
    <div class="select">
        <select class="selection">
            <!-- <input type="checkbox" name="" id="" checked> -->
            <option value="1" selected>WGS 84</option>
            <option value="2">Maroc Zone 1</option>
            <option value="3">Maroc Zone 2</option>
            <option value="4" >Maroc Zone 3</option>
            <option value="5">Maroc Zone 4</option>
        </select>
    </div>
</div>    


